/swift-protobuf
.DS_Store

protobuf_to_swift/google/api/*
protobuf_to_swift/model/*
protobuf_to_swift/service/*
protobuf_to_swift/view/*
protobuf_to_swift/**_pb2.py
protobuf_to_swift/proto_reader.py

output/*
!.gitkeep
